@charset "UTF-8";
/* css변수만들기 2024-01-29
--변수명 : 값;
전역 변수로 만들기 :root{}
 */
:root{
	--main : 38px;
}

body{
	margin: 0;
	padding: 0;	
}

.wrap{
	width: 100%;
	height: 100vh;
	display: flex;
}
.menu{
	/* 변수 사용 var(변수명) */
	width: var(--main);
	height: 100vh;
	background-color: gray;
	overflow: hidden;
	position: absolute;
}
.menu:hover{
	width: 150px;
	transition: 0.3s;
}
.main{
	width: calc(100% - var(--main));
	height: 100vh;
	margin-left: var(--main);
	/* background-color: yellow; */
}

nav{
	margin-top: 50px;
}

nav ul{
	margin:0;
	padding:0;
	list-style: none;
}
nav > ul > li{
	margin:0;
	padding:0;
	margin: 5px 10px;
	padding: 10px 0px;
	text-align: left;
	padding-left: 5px;
	/* padding-left: 5px; */
	width: 150px;
	overflow: hidden;
}

nav > ul > li > i{
	margin-right: 6px;
	/* firefox */
	-moz-margin-right: 6px;
	/* opera */
	-o-margin-right: 6px;
	/* 크롬, 앳지, 웨일 */
	-webkit-margin-right: 6px;
	/* 인터넷익플로러 */
	-ms-margin-right: 6px;
}
	
	
nav > ul > li:hover {
	background-color: #ffffff;
}

.info{
	width : 200px;
	height: 200px;
	line-height:200px;
	text-align:center;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: gray;
	margin-top: -100px;
	/* margin-left: -50px; */
}


	/* margin-left: -50px;
    width: 200px;
    height: 200px;
    line-height: 200%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: gray;   
    */